#Wrap>div{
    width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    border: 2px solid #666;
}
.practice{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #666;
    margin-bottom: 20px;
    background-color: #666;
}
.practice>p{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.btn{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.btn>button{
    width: 240px;
    height: 35px;
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
}
.btn>button:nth-child(2){
    margin-right: 0;
    background-color: #666;
}

.contain{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contain>.con{
    width: 240px;
    border: 1px solid #666;
}
.contain>.con>h1{
    font-size: 28px;
    color: #666;
}
.contain>.con>img{
    width: 200px;
    height: 200px;
    border: 1px solid #666;
}
.contain>.con>h2{
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}